@mixin inner {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

@mixin button-dark {
    padding: 24px 48px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #1D1D20;
}

$color-text-dark: #1D1D20;
$color-title: #323232;
$bg-color-gray: #f6f6f6; 