<header>
    <div class="header header__inner inner">
        <div class="header__wrapper">
            <div class="header__site-logo"><a href="#"><img src="../../../img/svg/label-dark.svg" alt="Логотип"></div></a>
            <menu class="header__menu">

                <ul class="header__menu-wrap">
                    <li class="menu-item"><a href="#">Главная</a></li>
                    <li class="menu-item"><a href="#">Наши проекты</a></li>
                    <li class="menu-item"><a href="#">Услуги</a></li>
                    <li class="menu-item"><a href="#">Новости</a></li>
                    <li class="menu-item"><a href="#">Контакты</a></li>
                    <li class="menu-item lang"><a href="#">ENG</a></li>
                </ul>
            </menu>
                <div class="header__store-wrap">
                    <div class="header__heart store-wrap-item"><img src="../../../img/icons/heart.png" alt="heart"></div>
                    <div class="header__cart store-wrap-item"><img src="../../../img/icons/bag.png" alt="bag"></div>    
                </div>
              
        </div>
    </div>
    
</header>

