header {
    background-color: $bg-color-gray;

}

.header {
    padding-bottom: 5rem;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        margin: 50px 0;
        width: 100%;
    }

    .menu-item {
        a {
            color: $color-text-dark;
            padding: 1.7rem;
        }
    }

    .lang {
        a {
            text-decoration: underline;
            opacity: 0.4;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
         flex-grow: 1;
    }

    &__menu-wrap {
        display: flex;
        justify-content: flex-end;
    }

    &__store-wrap {
        max-width: 100px;
        display: flex;
        .store-wrap-item {
            position: relative;
            &::before {
                content: '1';
                color: #fff;
                text-align: center;
                line-height: 22px;
                position: absolute;
                left: 1.1rem;
                width: 22px;
                height: 22px;
                background-color: $color-text-dark;
                border-radius: 50%;
            }
        }
    }

    &__heart {
        margin-right: 1.7rem;
    }
}

