<div class="clothes-main inner">
    <div class="clothes-main__wrapper">
        <div class="clothes-card">
            <div class="clothes-card__content">
                <div class="clothes-card__title">
                    Эко-кожа
                </div>
                <div class="clothes-card__description">
                    Рыбным текстом называется текст, служащий для временного наполнения макета.
                </div>
                <div class="clothes-card__button">
                    <a href="#"> Смотреть в каталоге</a>
                </div>
            </div>

        </div>

        <div class="clothes-card">
            <div class="clothes-card__content">
                <div class="clothes-card__title">
                    Вязанное
                </div>
                <div class="clothes-card__description">
                    Рыбным текстом называется текст, служащий для временного наполнения макета.
                </div>
                <div class="clothes-card__button">
                    <a href="#"> Смотреть в каталоге</a>
                </div>
            </div>
        </div>
    </div>
</div>