.clothes-main {
    margin-bottom: rem(270);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .clothes-card:first-child {
        background-image: url(../../../../img/images/clothes1.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: rem(150);
    }

    .clothes-card:last-child {
        background-image: url(../../../../img/images/clothes2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .clothes-card {
        min-height: rem(560);
        width: 40%;
        display: flex;
        align-items: center;

        &__content {
            margin-left: rem(-20);
        }
        &__title {
            font-size: rem(47);
            padding: 0.7rem 1.4rem;
            background-color: #fff;
            display: inline-block;
            color: rgba($color-text-dark, 0.7);
        }

        &__description {
            padding: rem(20);
            background-color: #fff;
            max-width: rem(400);
            color: rgba($color-text-dark, 0.7);
            margin-bottom: rem(20);

        }

        &__button {
            a {
                @include button-dark;
            }
        }
    }

}