<div class="about">
    <div class="inner">
        <div class="about__wrapper">
            <div class="about__subtitle">
                о бренде 
            </div>
    
            <div class="about__title">
                <img src="../../../../img/images/label-dark.png" alt="">
            </div>
    
            <div class="about__description">
                Рыбным текстом называется текст, служащий для временного наполнения 
                макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.
            </div>
        </div>
    </div>

</div>