.about {


    background-image: url(../../../../img/bg/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    &__wrapper {
        max-width: rem(270);
        padding-top: rem(540);
        padding-bottom: rem(420);

    }

    &__subtitle {
        opacity: 0.7;
        font-size: rem(16);
        letter-spacing: 1.2em;
        margin-bottom: rem(59);
    }
    &__title {
        max-width: rem(218);
        margin-bottom: rem(20);
    }

    &__description {
        opacity: 0.7;
        line-height: 24px;
    }
}