.front-catalog {
    max-width: 1140px;
    margin-bottom: rem(330);
    margin-left: auto;
    margin-right: auto;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        text-align: center;
        position: relative;
        margin-top: 0.7rem;
        a {
            display: block;
            padding: 1.7rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                border: 1px solid #1D1D20;
                opacity: 0.2;
                width: 100%;
                 height: 100%;
                 border-radius: 5px;
            }
        }
    }
}