<div class="front-catalog">
    <div class="front-catalog__wrapper">
        <div class="catalog-item">
            <img src="../../../../img/images/catalog2.png" alt="">
        </div>
        <div class="catalog-item">
            <img src="../../../../img/images/catalog1.png" alt="">
        </div>
        <div class="catalog-item">
            <img src="../../../../img/images/catalog3.png" alt="">
        </div>
    </div>

    <div class="front-catalog__button"> <a href="#">Весь каталог</a></div>
</div>