footer {
    background-color: $bg-color-gray;
}

.footer {
    &__wrap {
        padding-top: 6rem;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5.5rem;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 1px;
            height: 1px;
            background-color: $color-text-dark;
            opacity: 0.1;
            
        }
    }

    &__menu {
        display: flex;
        margin-bottom: 6.5rem;

        .menu-item {
            margin-right: 3.4rem;
            a {
                color: $color-text-dark;
                font-size: 1.14rem;
            }
        }
    }

    &__contacts {
        display: flex;

        .contacts-item {
            margin-right: 2.5rem;
            opacity: 0.6;
            text-decoration-line: underline;
        }

        .email {
            a {
                color: $color-text-dark;
            }
            
        }
    }

    &__right-side {
        .social {
            a {
                display: block;
                color: $color-text-dark;
                font-size: 1.7rem;
                font-weight: 200;
                opacity: 0.6;
                margin-bottom: 1.5rem;
            }
        }
    }

    &__copyright {
        padding: 2.8rem 0;
        display: flex;
        justify-content: space-between;

    }

    .copyright-privacy {
        display: flex;

    }

    .copyright {
        justify-content: space-between;
        opacity: 0.5;
        margin-right: 3.2rem;
    }

    .privacy {
        a {
            opacity: 0.5;
        }
    }

    .developmend-by {
        opacity: 0.5;
    }

 
}