<footer>
    <div class="footer inner">
        <div class="footer__wrap">
            <div class="footer__left-side">
                <menu>
                    <ul class="footer__menu">
                        <li class="menu-item"> <a href="#">Главаная</a></li >
                        <li class="menu-item"> <a href="#">Каталог</a></li>
                        <li class="menu-item"> <a href="#">Коллекции</li>
                        <li class="menu-item"> <a href="#">Контакты</a></li>
                    </ul>
                </menu>
    
                <div class="footer__contacts">
                    <div class="contacts-item adress">Москва, ТЦ Цветной корнер, IconStreet, 2 этаж</div>
                    <div class="contacts-item number">8800 423 00 67</div>
                    <div class="contacts-item email"><a href="info@surovaya.ru">info@surovaya.ru</a></div>
                </div>
            </div>
    
            <div class="footer__right-side">
                <ul class="social">
                    <li> <a href="#">vkontake</a></li>
                    <li> <a href="#">instagram</a></li>
                    <li> <a href="#">facebook</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__copyright">
            <div class="copyright-privacy">
                <div class="copyright">
                    © Surovaya. 2019
                </div> 
                <div class="privacy"><a href="#">Политика конфиденциальности</a></div>
            </div>

            <div class="developmend-by">
                Разработано <a href="https://drozdov-design.ru/">Drozdov Studio </a>
            </div>
        </div>



    </div>
</footer>