.title-main-page {
    background-color: $bg-color-gray;


    &__image {
        margin-right: 19.75rem;
        max-width: 620px;
    }

    &__content {
        margin-top: 15.5rem;
    }

    .content {
        align-self: center;
        &__subtitle {
            font-size: 1.2rem;
            line-height: 20px;
            letter-spacing: 1.2em;
            color: #000000;
            opacity: 0.3;
            margin-bottom: 4.2rem;
        }

        &__title {
            font-size: 5.1rem;

        }

        &__title-wrap {
            display: flex;
            margin-bottom: 3.7rem;

            span {
                display: flex;
                align-self: flex-end;
                line-height: 3rem;
                margin-left: .5rem;
            }
        }

        &__button {
            a {
                @include button-dark;
            }
            
        }


    }

    .slider-item {
        display: flex;
    }


}
