<div class="title-main-page">
    <div class="title-main-page__inner inner">
        <div class="title-main-page__wrap">
            <div class="slider">
                <div class="slider-item">
                    <div class="title-main-page__image"><img src="../../../../img/images/woman.png" alt="
                        ">
                    </div>
                    <div class="title-main-page__content">
                        <div class="content__subtitle">Коллекция</div>
                            <div class="content__title-wrap">
                                <div class="content__title">Winter</div><span>2020</span>
                            </div>
                        <div class="content__button">
                            <a href="#">Каталог</a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>
