@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../../fonts/monsterat/Montserrat-Bold.woff") format("woff"),
        url("../../fonts/monsterat/Montserrat-Bold.woff2") format("woff2"),
        url("../../fonts/monsterat/Montserrat-Medium.woff") format("woff"),
        url("../../fonts/monsterat/Montserrat-Medium.woff2") format("woff2"),
        url("../../fonts/monsterat/Montserrat-Regular.woff") format("woff"),
        url("../../fonts/monsterat/Montserrat-Regular.woff2") format("woff2"),
        url("../../fonts/monsterat/Montserrat-Light.woff") format("woff"),
        url("../../fonts/monsterat/Montserrat-Light.woff2") format("woff2"),
        url("../../fonts/monsterat/Montserrat-ExtraLight.woff") format("woff"),
        url("../../fonts/monsterat/Montserrat-ExtraLight.woff2") format("woff2");
   }
