h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

.inner, {
    max-width: 1718px;
    margin-left: auto;
    margin-right: auto;
}

body,html, menu {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: $color-text-dark;
}

img {
    width: 100%;
}

a {
    color: $color-text-dark;
}

ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}